@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i');

body{
    font-family: 'PT Sans', sans-serif;
}

h1,h2,h3,h4,h5{
	font-weight: bold;
}

h1{ 
	font-size: 45px;
	margin-top: 15px;
}

h2{
	font-size:22px;
}

p{
	color: #777;
	font-size: 18px;
	text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

small{
	font-size:70% !important;
}

.big-dto{
	color:#5bc0de;
	font-size:70px;
	margin-bottom: 0px;
	line-height: 45px;
	vertical-align:bottom;
}

.big-dto small{
	color:#5bc0de;
	font-weight:bold;
	line-height: 40px;
}

.list-pae{
	padding-left: 20px;
	list-style: none;
}

.list-pae li{
	color: #777;
	font-size: 18px;
	margin-bottom: 10px;
	text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.list-pae li::before {
  color: #0bbff2;
  content: "\e080";
  font-family: "Glyphicons Halflings";
  margin-left: -20px;
  margin-right: 5px;
}

.header{ background:#000; }

.header img{
	display:block;
	margin:15px auto;
	width:175px;
}

.header-title{
	padding-bottom:30px;
	padding-top:30px;
}

.header-title h2{color:#777;}

.header-title h2 > b{color:#000;}

.container-contact,
.container-price{
	background:#eee; 
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	padding-top:35px;
	padding-bottom:35px;
}

.panel-heading h4{
	font-size: 35px;
}

.lead { 
	font-size: 28px;
	margin-bottom:0px;
	text-align: center;
}

.panel-list{
	list-style: none;
	padding: 0px;
}

.panel-list li{
	border-radius: 0px;
	border-bottom:0px;
	border-top: 1px solid #ddd;
	border-left: 0px;
	border-right: 0px;
	padding: 15px 0;
}

.container-call{
	background: #5cb85c;
	padding-top:35px;
	padding-bottom:35px;
}

.container-call h3{
	color:#fff;
	text-shadow:2px 2px 2px rgba(0, 0, 0, 0.25);
}

.container-call p{
	margin:35px 0 25px;
}


.footer{
	background: #000;
	padding: 15px 0;
}

.footer p{
	color: #fff;
	text-align: center;
	margin:0;
}

@media (max-width: 768px){
	.big-dto{
		font-size:45px;
	}
}